<h3>Please Login:</h3>
<app-login></app-login>
<hr />
<h2>Modus Operandi Interview Coding Assignment</h2>

<!--
Modus Operandi Interview Coding Assignment

Build a login component that allows a user to login using a username or email and
a password. Only accept correct passwords. Build an Angular component to display a
form for user login.

There is a user.service provided that contains methods to to get data from a server.
The getUsers method is provided. Use the service to get users and to authenticate a user
login attempt. If the user is valid and authenticated, display a welcome message that shows
the user has successfully logged in.

- Extra credit: Use form validation to show invalid data in the forms.
-->
